@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  .iconbefore {
    @apply h-10 w-10 
    bg-gray-500
    flex justify-center items-center 
    relative 
          before:bg-gray-500
          before:z-0 
          z-10 
          before:w-10 
          before:h-10 
          before:rotate-45;
  }
  .iconself {
    @apply absolute text-2xl z-20 bg-inherit h-9 w-9 flex justify-center items-center;
  }
  .active {
    @apply text-accent;
  }
  .light1 {
    @apply text-accent;
  }
  .light2 {
    @apply text-accent;
  }
  .dark1 {
    @apply text-accent;
  }
  .dark2 {
    @apply text-accent;
  }
}
